<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width initial-scale=1.0" />
    <title>Node MySQL DAO Example</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <h1>Node MySQL DAO Example</h1>

    <!-- Create User Form -->
    <h2>Create User</h2>
    <form method="POST" action="/add-user">
      <label for="name">Name:</label>
      <input type="text" name="name" required />
      <label for="email">Email:</label>
      <input type="email" name="email" required />
      <br /><br />
      <label for="address">Address:</label>
      <input type="text" name="address" required />
      <label for="phone">Phone:</label>
      <input type="number" name="phone" placeholder="(+45) XXXXXXXX" required />
      <br /><br />
      <label for="age">Age:</label>
      <input type="number" name="age" required />
      <button type="submit">Add User</button>
    </form>
    <hr />

    <!-- Update and Delete User Forms for each user -->
    <h2>All Users</h2>
    <ul>
      {{#each users}}
        <li>{{name}} - {{email}} - {{address}} - {{phone}} - {{age}}</li>
        {{!-- <li>User ID:
          {{id}}
          -
          {{name}}
          -
          {{email}}
          -
          {{address}}
          -
          {{phone}}
          -
          {{age}}</li> --}}

        <!-- Update User Form -->
        <form method="POST" action="/update-user">
          <input type="hidden" name="id" value="{{id}}" />
          <label for="name">Name:</label>
          <input type="text" name="name" value="{{name}}" required />
          <label for="email">Email:</label>
          <input type="email" name="email" value="{{email}}" required />
          <label for="address">Address:</label>
          <input type="text" name="address" value="{{address}}" required />
          <label for="phone">Phone:</label>
          <input type="number" name="phone" value="{{phone}}" required />
          <label for="age">Age:</label>
          <input type="number" name="age" value="{{age}}" required />
          <div>
            <button type="submit">Update User</button>
          </div>
        </form>
        <!-- Delete User Form -->
        <form method="POST" action="/delete-user">
          <input type="hidden" name="id" value="{{id}}" />
          <button type="submit">Delete User</button>
        </form>
        <hr />
      {{/each}}
    </ul>
  </body>
</html>